@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 81, 255);
    margin: 0 13rem;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
    color: white;
}
header li{
    text-decoration: none;
    margin: 15px;
}
header h1{
    position: relative;
    top: 5px;
    margin: 20px;
    color: white;
}
header ul li a{
    color: white;
    text-decoration: none;
}
header i{
    padding: 4px;
}